[submodule "mathbook-assets"]
	path = mathbook-assets
	url = https://github.com/tghyde/mathbook-assets.git
	branch = vassar
[submodule "mathbook"]
	path = mathbook
	url = https://github.com/QBobWatson/mathbook.git
	branch = ila
[submodule "mathbox"]
	path = mathbox
	url = https://github.com/QBobWatson/mathbox.git
	branch = jdr
